.product-detail {
  // Main
  .product-detail__main {
    margin-bottom: $col;
    // Img
    .product-detail__img {
      width: rem(680);
    }

    // Content
    .product-detail__main-content {
      width: $col * 3;
    }
  }
}
