@font-face {
  font-family: "Helvetica-Neue";
  src: url("../../../assets/fonts/helvetica-neue-webfont.woff2") format("woff2"),
    url("../../../assets/fonts/helvetica-neue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("../../../assets/fonts/proxima-nova-regular-webfont.woff2")
      format("woff2"),
    url("../../../assets/fonts/proxima-nova-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("../../../assets/fonts/proxima-nova-bold-webfont.woff2")
      format("woff2"),
    url("../../../assets/fonts/proxima-nova-bold-webfont.woff") format("woff");
  font-weight: $bold;
  font-style: normal;
}
