@import "./variables";

/* ----------- Colors ------------- */
$colors: (
  white: $white,
  black: $black,
  primary: $primary-color,
  secondary: $secondary-color,
  terciary-1: $terciary-1,
  terciary-2: $terciary-2,
  terciary-3: $terciary-3,
  terciary-4: $terciary-4,
  error: $error,
);

@mixin gen-props($prefix, $property) {
  @each $color-name, $color in $colors {
    .#{$prefix}-#{$color-name} {
      #{$property}: $color !important;
    }
  }
}

@include gen-props("text", "color");
@include gen-props("bg", "background");
@include gen-props("border", "border-color");

/* ----------- Typographies ------------- */
$fonts: (
  regular: $regular,
  bold: $bold,
);

@mixin gen-props($prefix, $property) {
  @each $font-name, $font in $fonts {
    .#{$prefix}-#{$font-name} {
      #{$property}: $font !important;
    }
  }
}

@include gen-props("f-weight", "font-weight");

/* ----------- Distance ------------- */
$distances: (
  regular: $margin,
  large: $margin-large,
);

@mixin gen-props($prefix, $property) {
  @each $distance-name, $distance in $distances {
    .#{$prefix}-#{$distance-name} {
      #{$property}: $distance !important;
    }
  }
}

@include gen-props("m", "margin");
@include gen-props("mt", "margin-top");
@include gen-props("mb", "margin-bottom");
@include gen-props("mr", "margin-right");
@include gen-props("ml", "margin-left");
@include gen-props("p", "padding");
@include gen-props("pt", "padding-top");
@include gen-props("pb", "padding-bottom");
@include gen-props("pr", "padding-right");
@include gen-props("pl", "padding-left");
