/* -------------------------------
		0.1.-VARIABLES
-------------------------------- */

/* ----------- Fonts ------------- */

$primary-font: Proxima-Nova, -apple-system, Helvetica-Neue, "sans-serif";

$regular: 400;

$bold: 700;

/* ----------- Main Colors ------------- */

$white: #fff;

$black: #000;

$primary-color: #ffe600;

$secondary-color: #3483fa;

$terciary-1: #333;
$terciary-2: #666;
$terciary-3: #999;
$terciary-4: #eee;

$error: #962501;

$light-color: rgba($black, 0.45);

/* ----------- Custom variables ------------- */
$margin: rem(16);
$margin-large: rem(32);
