// Element: Button
.btn {
  padding: rem(10);
  font-size: rem(14);
  line-height: 1;
  text-align: center;
  border-radius: rem(5);
  background-color: $secondary-color;
  color: $white;
  width: 100%;
}
