// Element: Button
.btn {
  padding: rem(13);
  font-size: rem(16);
  line-height: 1;
  text-align: center;
  border-radius: rem(5);
  background-color: $secondary-color;
  color: $white;
  width: 100%;

  // Hover
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: $secondary-color - 25;
  }
}
